body {
    background: rgb(0, 12, 17);
    color: #fff;
    font-family: 'Syne', sans-serif;
}

.container {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding-top:30vh;
}

.button {
    padding: 10px 15px;
    background: rgb(40, 136, 192);
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.button--large {
    font-size: 18px;
    padding: 18px 28px;
}

#video-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px; */
    display: flex;
    justify-content: center;
}

#video-grid video {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 30px;
}
.video-control {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s;
}

.video-control:hover {
    cursor: pointer;
    background-color: rgba(236, 57, 44, 0.2);
}

.video-control--active {
    background-color: rgb(236, 57, 44);
}

.video-control--active:hover {
    background-color: rgb(236, 57, 44);
}



.video-control svg {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3px));
}

.video-control svg path {
fill: #fff;
}